.audio-progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}

.audio-progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; /* Ban đầu không hiển thị, sẽ được cập nhật bằng JavaScript */
    background: linear-gradient(to right, #B5179E, #7209B7);
    z-index: 1;
}